<div class="contenedor">
    <div class="card">
        <div class="encabezados">
            <h2>Bienvenido</h2>
            <h5>Gestiona tus productos de manera eficiente y sencilla</h5>
        </div>

        <div class="formulario">
            <form>
                <div class="input-group">
                    <label for="username">Correo electrónico</label>
                    <div class="input-icon">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="text" id="username" formControlName="username" placeholder="Ingresa tu correo"
                            required>
                    </div>
                </div>

                <div class="input-group">
                    <label for="username">Contraseña</label>
                    <div class="input-icon">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" id="username" formControlName="password" placeholder="Ingresa tu contraseña"
                            required>
                    </div>
                </div>

                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>